{% extends 'base.html' %} {% block main %}
<h2 class="text-center">Edit Post</h2>
<form action="/posts/{{ post.id }}/update" method="POST" class="mt-2">
  <div class="mb-3">
    <label for="id" class="form-label">id</label>
    <input
      id="id"
      name="id"
      value="{{ post.id }}"
      class="form-control"
      disabled
    />
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      value="{{ post.title }}"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="url" class="form-label">URL</label>
    <input id="url" name="url" value="{{ post.url }}" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Update Post</button>
</form>
{% endblock %}
